@import 'fonts';
@import 'bsc-mixins';

/* RESET */
@include reset();
p,.wrapper{ text-align: center; }

/* VARS */
$Yellow: #ebb23f;
$DarkYellow: #c59f43;
$Pink: #e55c67;
$DarkPink: #af595d;
$Black: #303030;
$White: #fff;
$wrapperWidth: 700px;
$rightMargin: 3vw;
$animaTimeFast: 0.2s;
$animaTimeDef: 0.3s;
$animaTimeSlow: 0.5s;
$animaTimeVerySlow: 0.7s;
$blackalpha:rgba(30, 30, 30, 0.10);

@mixin box-shadow($value)
{
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	-ms-box-shadow: $value;
	-o-box-shadow: $value;
	box-shadow: $value;
}

/*FONTS*/
.subtitle_font
{
	font: 30px "WaskNewRegularItalic";
	b
	{
		font-family: "WaskNewBold";
	}
}

.headline_font
{
	font: 40px "WaskNewRegularItalic";
	font-style: italic;
	b
	{
		font-family: "WaskNewBold";
		font-style: normal;
	}
	mark
	{
		font-family: "WaskNewBold";
		font-style: normal;
	}
}

.bottomline_font
{
	font: 18px "WaskNewRegular";
	font-style: normal;
	b
	{
		font-family: "WaskNewBold";
		font-style: normal;
	}
}

.wrapper
{
	display: table-cell;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
}

.inner
{
	max-width: $wrapperWidth;
	margin-left: auto;
    margin-right: auto; 
}

mark
{
	padding: 0px 5px 0px 5px;
	margin: 0px -5px 0px -5px;
	background-color: $Pink;
}

.heartBeatAnima
{
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: heartBeat;
	animation-duration: $animaTimeSlow;
	@keyframes heartBeat 
	{
	  from 
	  {
	    transform: scale(1);
	  }

	  to 
	  {
	    transform: scale(1.2);
	  }
	}
}

.yoyoV
{
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: yoyoV;
	animation-duration: $animaTimeSlow;
	@keyframes yoyoV 
	{
	  from 
	  {
	    top: 0px;
	  }

	  to 
	  {
	    top: 5px;
	  }
	}
}

.shadowButton
{
	@include border-radius(15px);
	@include box-shadow(0px 20px 50px 0px rgba(0, 0, 0, 0.25));
	@include transition(background $animaTimeDef, transform $animaTimeDef, box-shadow $animaTimeDef);
	transform: scale(1);
	
	&:hover, &.hover
	{
		@include box-shadow(0px 10px 30px 0px rgba(0, 0, 0, 0.2));
		transform: scale(0.99);
		
		.icon-heart
		{
			@extend .heartBeatAnima;
		}
	}

	&:active, &.active
	{
		@include box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0));
		transform: scale(0.98);
	}
}

.anchor
{
	@include border-radius(15px 15px 0 0);
	@include transition(bottom $animaTimeDef, background $animaTimeDef);
	transition-timing-function: cubic-bezier(0, 0.74, 0.39, 1.39);
	width: 122px;
	height: 80px;
	position: fixed;
	bottom: -10px;
	background: $Pink;
	margin-left: -61px;
	z-index: 10000;
	&:hover
	{	
		bottom: 0px;
		.icon-arrow
		{
			@extend .yoyoV;
		}
	}
	.icon-arrow
	{
		position: relative;
		display: block;
		margin-top: 30px;
	}
}

a.link
{
	@extend .headline_font;
	@extend .shadowButton;
	text-transform: uppercase;
	background: $Pink;
	display: block;
	margin: 0px auto;
	
	b
	{
		font-style: italic !important;
	}
	
	.icon
	{
		display: inline-flex;
		margin-left: 35px;
		top: 2px;
		position: relative;
	}
}

.field-container
{
	@include border-radius(10px);
	background: red;
}

/*-----------------------------*/

/* COMMON */
body
{
	color: $Black;
	background: $Yellow;
	@include transition(background $animaTimeSlow, color $animaTimeDef);
	/*background: url(../images/layout.png) right -70px no-repeat;*/

	#loader
	{
		@extend .subtitle_font;
		color: $White;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: $Yellow;
		text-align: center;
		@include transition(all $animaTimeFast);
		p
		{
		    top: 45%;
			position: relative;
		}

		&.hidden
		{
			visibility: hidden;
			opacity: 0;
			top: 10px;
		}
	}

	textarea, input[type=textarea]
	{

		background: $DarkYellow;
		@include border-radius(10deg);
		width: 840px;
		height: 170px;
		@extend .subtitle_font;
		color:$Black;
	}

	header
	{
		position: absolute;
	    width: 100%;
	    height: 30%;
	    max-height: 200px;
	    /*z-index: 999999;
	    background: $Yellow;
		background: -moz-linear-gradient(top, rgba(235,178,63,1) 0%, rgba(235,178,63,1) 80%, rgba(235,178,63,0.28) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,178,63,1)), color-stop(80%, rgba(235,178,63,1)), color-stop(100%, rgba(235,178,63,0.28)));
		background: -webkit-linear-gradient(top, rgba(235,178,63,1) 0%, rgba(235,178,63,1) 80%, rgba(235,178,63,0.28) 100%);
		background: -o-linear-gradient(top, rgba(235,178,63,1) 0%, rgba(235,178,63,1) 80%, rgba(235,178,63,0.28) 100%);
		background: -ms-linear-gradient(top, rgba(235,178,63,1) 0%, rgba(235,178,63,1) 80%, rgba(235,178,63,0.28) 100%);
		background: linear-gradient(to bottom, rgba(235,178,63,1) 0%, rgba(235,178,63,1) 80%, rgba(235,178,63,0.28) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebb23f', endColorstr='#ebb23f', GradientType=0 );*/
		h1
		{
			position: relative;
			@include transition(all $animaTimeDef);
			background-size: contain !important;
			width: auto;
			height: 90%;
			top: 5%;
			text-indent: -9999em;
			margin: 0px auto;
		    margin-bottom: 0px;
		    
		    pointer-events: none;

			&.yellow
			{
				background: url(../images/casa-de-acolhida-yellow.png) center center no-repeat;
			}

			&.pink
			{
				background: url(../images/casa-de-acolhida-pink.png) center center no-repeat;
			}

			&.big
			{
				
			}
		}
	}

	>nav
	{
		position: fixed;
	    height: 430px;
	    right: 0px;
	    top: calc(50% - 215px);
	    overflow: hidden;
	    z-index: 9999;
	    ul
	    {
	    	min-width: 250px;
		    margin-top: 30px;
		    margin-right: $rightMargin;
	    	li
	    	{
	    		cursor: pointer;
	    		font: 30px "WaskNewRegular";
	    		color: $DarkYellow;
	    		text-align: right;
	    		margin-bottom: 14px;
	    		@include transition(color $animaTimeDef);
	    		&.active, &:hover
	    		{
	    			color: $Black !important;
	    			.label
	    			{
	    				font-size: 40px;
	    			}

	    			.icon
		    		{
		    			width: 60px;
		    			background: $Pink;
		    			transform: scale(1);
		    		}
	    		}

	    		.label, .icon
	    		{
	    			display: inline-block;
	    			vertical-align: top;
	    			position: relative;
	    			@include transition(font-size $animaTimeDef);
	    		}

	    		.label
	    		{
	    			line-height: 60px;
	    			letter-spacing: -1px;
	    		}

	    		.icon
	    		{
	    			width: 60px;
	    			height: 60px;
	    			margin-left: 10px;
	    			text-align: center;
					line-height: 60px;
	    			@include border-radius(7px);
	    			transform: scale(0.95);
	    			@include transition(background $animaTimeSlow, transform $animaTimeDef);
	    		}
	    	}
	    }
	    
	    .menu_circle
	    {
	    	@include transition(transform $animaTimeVerySlow);
	    	transition-timing-function: ease-in-out;
	    	transform: rotate(0deg);
	    	color: red;
	    	right: -657px;
		    position: absolute;
		    top: -150px;
		    opacity: 0.3;
	    }
	}

	section
	{
		/*border: 1px solid white;*/
		display: table;
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 1;
		@extend .bottomline_font;

		h1
		{
			@extend .headline_font;
			text-transform: uppercase;
			margin-bottom: 30px;
		}

		a.link
		{
			width: 310px;
			height: 80px;
			line-height: 80px;
		}

		&#place
		{
			.inner
			{
				margin-top: 5%;
			}
		}

		&#donation
		{
			.inner
			{
				margin-top: 2%;
				.group
				{
					height: 95px;
					display: block;
					.tag
					{
						color: $Yellow;
						display: inline-block;
					    text-transform: uppercase;
					    text-align: center;
					    line-height: 32px;
					    transform: rotate(-17deg);
					    font-size: 40px;
					    margin-right:20px; 
					}
					.currency
					{
						display: inline-block;
						top: -10px;
						position: relative;
						margin-right:10px; 
						b
						{
							font-size: 53px;
						}
					}
					.field-container
					{
						display: inline-block;
						width: 310px;
						height: 82px;
						position: relative;
						top: -45px;
						background: $blackalpha;
						margin-right:10px; 
					}
					.link
					{
						width: 93px;
						height: 82px;
						display: inline-block;
						position: relative;
						top: -8px;
						.icon
						{
							margin-left: 0px !important;
							top: 5px !important;
						}
					}
				}
			}
		}

		&#partners
		{
			.wrapper
			{
				vertical-align: bottom;
				.inner
				{
					max-width: 1020px;
					padding: 0px calc(10%) 0px calc(10%);
					h1
					{
						font-size: 30px !important;
						text-transform: none !important;
						margin-bottom: 30px !important;
					}
					ul
					{
						li
						{
							display: inline-block;
							margin: 1vh 1vw 0px 1vw;
							cursor: pointer;
							width: calc(20 * 1vw);
							height: calc(20 * 1vh);
							max-width: 140px;
							max-height: 100px;
							>span
							{
								top: -5px;
	    						position: relative;
							}
							.container
							{
								width: 100%;
								height: 100%;
								background: $blackalpha;
								@include border-radius(10px);
								overflow: hidden;
								padding: 0px;
								background-size: cover;
								background-position: center center;
								
								-webkit-filter: grayscale(100%);
							    filter: grayscale(100%);
							    -webkit-transition: .3s ease-in-out;
							    transition: .3s ease-in-out;
							}
							img
							{
								display: none;
								height: 0px;
								width: 0px;
							}
							.link
							{
							    width: 50px;
							    height: 50px;
							    position: relative;
							    right: -80px;
							    margin-top: -23px;
								.icon
								{
									margin-left: 0px !important;
								    top: -14px !important;
								    font-size: 30px;
								}
							}

							&:hover
							{
								.container
								{
									-webkit-filter: grayscale(0%);
								}

								.link
								{
									@extend .link:hover;
								}
							}
						}
					}
				}
			}
		}

		&#transfer
		{
			.wrapper
			{
				h1
				{
					@extend .subtitle_font;
					color: white !important;
				}

				.container
				{
					background: $blackalpha;
					@include border-radius(10px);
					padding: 10px;

					ul
					{
						li
						{
							.label
							{

							}

							.value
							{

							}
						}
					} 
				}
			}
		}

		&#contact
		{
			h1
			{
				@extend .subtitle_font;
			}
			
			form
			{
				.textarea
				{
					
				}
			}
		}
	}

	footer
	{
		position: fixed;
	    bottom: 1vw;
	    right: $rightMargin;
		p
		{
			color: $DarkYellow;
			@include transition(color $animaTimeDef);
			@extend .bottomline_font;
			text-transform: uppercase;
		}
	}

	&.pink
	{
		background: $Pink;

		header
		{
			/*background: $Pink;
			background: -moz-linear-gradient(top, rgba(229,92,103,1) 0%, rgba(229,92,103,1) 80%, rgba(229,92,103,0.28) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,92,103,1)), color-stop(80%, rgba(229,92,103,1)), color-stop(100%, rgba(229,92,103,0.28)));
			background: -webkit-linear-gradient(top, rgba(229,92,103,1) 0%, rgba(229,92,103,1) 80%, rgba(229,92,103,0.28) 100%);
			background: -o-linear-gradient(top, rgba(229,92,103,1) 0%, rgba(229,92,103,1) 80%, rgba(229,92,103,0.28) 100%);
			background: -ms-linear-gradient(top, rgba(229,92,103,1) 0%, rgba(229,92,103,1) 80%, rgba(229,92,103,0.28) 100%);
			background: linear-gradient(to bottom, rgba(229,92,103,1) 0%, rgba(229,92,103,1) 80%, rgba(229,92,103,0.28) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55c67', endColorstr='#e55c67', GradientType=0 );*/
		}
		
		nav
		{
			ul
			{
				li
				{
					color: $DarkPink;
					&:hover, &.active
					{
						.icon
						{
							background: $Yellow;
						}
					}
				}
			}
		}
		

		.anchor, .link, mark
		{
			background: $Yellow;
		}

		footer
		{
			p
			{
				color: $DarkPink;
			}
		}
	}
}

/* MOBILE */
@media only screen and (max-width: 1364px)
{
	body
	{
		>nav
		{
			ul
			{
				margin-right: 1vw !important;
				min-width: 70px !important;

				li
				{
					.label
					{
						display: none;
					}
				}
			}
		}
	}
}

/* DESKTOP */
@media only screen and (min-width: 768px)
{
	body
	{
		overflow: hidden;
		section
		{
			position: absolute;
			visibility: hidden;
		}
	}
}

/* SMALL SCREEN HEIGHT */
@media only screen and (max-height: 800px)
{
	body
	{
		header
		{

		}

		section
		{
			
		}
	}
}