@import 'fonts';
@import 'bsc-mixins';

/* RESET */
@include reset();
p,.wrapper{ text-align: center; }

/* VARS */
$Yellow: #ebb23f;
$DarkYellow: #c59f43;
$Pink: #e55c67;
$DarkPink: #af595d;
$Black: #303030;
$White: #fff;
$wrapperWidth: 700px;
$rightMargin: 5vw;
$animaTimeFast: 0.2s;
$animaTimeDef: 0.3s;
$animaTimeSlow: 0.5s;
$animaTimeVerySlow: 0.7s;

@mixin box-shadow($value)
{
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	-ms-box-shadow: $value;
	-o-box-shadow: $value;
	box-shadow: $value;
}

/*FONTS*/
.subtitle_font
{
	font: 30px "WaskNewRegularItalic";
	b
	{
		font-family: "WaskNewBold";
	}
}

.headline_font
{
	font: 40px "WaskNewRegularItalic";
	font-style: italic;
	b
	{
		font-family: "WaskNewBold";
		font-style: normal;
	}
	mark
	{
		font-family: "WaskNewBold";
		font-style: normal;
	}
}

.bottomline_font
{
	font: 18px "WaskNewRegular";
	font-style: normal;
	b
	{
		font-family: "WaskNewBold";
		font-style: normal;
	}
}

.wrapper
{
	max-width: $wrapperWidth;
	margin: 0px auto;
}

mark
{
	padding: 0px 5px 0px 5px;
	margin: 0px -5px 0px -5px;
	background-color: $Pink;
}

.heartBeatAnima
{
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: heartBeat;
	animation-duration: $animaTimeSlow;
	@keyframes heartBeat 
	{
	  from 
	  {
	    transform: scale(1);
	  }

	  to 
	  {
	    transform: scale(1.2);
	  }
	}
}

.yoyoV
{
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: yoyoV;
	animation-duration: $animaTimeSlow;
	@keyframes yoyoV 
	{
	  from 
	  {
	    top: 0px;
	  }

	  to 
	  {
	    top: 5px;
	  }
	}
}

.shadowButton
{
	@include border-radius(15px);
	@include box-shadow(0px 20px 50px 0px rgba(0, 0, 0, 0.25));
	@include transition(background $animaTimeDef, transform $animaTimeDef, box-shadow $animaTimeDef);
	transform: scale(1);
	
	&:hover
	{
		@include box-shadow(0px 10px 30px 0px rgba(0, 0, 0, 0.2));
		transform: scale(0.99);
		
		.icon-heart
		{
			@extend .heartBeatAnima;
		}
	}

	&:active, &.active
	{
		@include box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0));
		transform: scale(0.98);
	}
}

.anchor
{
	@include border-radius(15px 15px 0 0);
	@include transition(bottom $animaTimeDef, background $animaTimeDef);
	transition-timing-function: cubic-bezier(0, 0.74, 0.39, 1.39);
	width: 122px;
	height: 80px;
	position: fixed;
	bottom: -10px;
	background: $Pink;
	margin-left: -61px;
	&:hover
	{	
		bottom: 0px;
		.icon-arrow
		{
			@extend .yoyoV;
		}
	}
	.icon-arrow
	{
		position: relative;
		display: block;
		margin-top: 30px;
	}
}

a.link
{
	@extend .headline_font;
	@extend .shadowButton;
	text-transform: uppercase;
	background: $Pink;
	display: block;
	margin: 0px auto;
	
	b
	{
		font-style: italic !important;
	}
	
	.icon
	{
		display: inline-flex;
		margin-left: 35px;
		top: 2px;
		position: relative;
	}
}

/*-----------------------------*/

/* COMMON */
body
{
	color: $Black;
	background: $Yellow;
	@include transition(background $animaTimeSlow, color $animaTimeDef);
	/*background: url(../images/layout.png) right -70px no-repeat;*/

	#loader
	{
		@extend .subtitle_font;
		color: $White;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: $Yellow;
		text-align: center;
		@include transition(all $animaTimeFast);
		p
		{
		    top: 45%;
			position: relative;
		}

		&.hidden
		{
			visibility: hidden;
			opacity: 0;
			top: 10px;
		}
	}

	textarea, input[type=textarea]
	{

		background: $DarkYellow;
		@include border-radius(10deg);
		width: 840px;
		height: 170px;
		@extend .subtitle_font;
		color:$Black;
	}

	header
	{
		h1
		{
			@include transition(all $animaTimeDef);
			background-size: contain !important;
			width: 192px;
			height: 140px;
			text-indent: -9999em;
			margin: 0px auto;
		    margin-bottom: 0px;
		    top: 63px;
		    position: relative;

			&.yellow
			{
				background: url(../images/casa-de-acolhida-yellow.png) center center no-repeat;
			}

			&.pink
			{
				background: url(../images/casa-de-acolhida-pink.png) center center no-repeat;
			}

			&.big
			{
				width: 317px;
				height: 229px;	
			}
		}

		nav
		{
			position: absolute;
		    height: 430px;
		    right: 0px;
		    top: calc(50% - 215px);
		    overflow: hidden;

		    ul
		    {
		    	min-width: 250px;
			    margin-top: 30px;
			    margin-right: $rightMargin;
		    	li
		    	{
		    		cursor: pointer;
		    		font: 30px "WaskNewRegular";
		    		color: $DarkYellow;
		    		text-align: right;
		    		margin-bottom: 14px;
		    		@include transition(color $animaTimeDef);
		    		&.active, &:hover
		    		{
		    			color: $Black !important;
		    			.label
		    			{
		    				font-size: 40px;
		    			}

		    			.icon
			    		{
			    			width: 60px;
			    			background: $Pink;
			    			transform: scale(1);
			    		}
		    		}

		    		.label, .icon
		    		{
		    			display: inline-block;
		    			vertical-align: top;
		    			position: relative;
		    			@include transition(font-size $animaTimeDef);
		    		}

		    		.label
		    		{
		    			line-height: 60px;
		    			letter-spacing: -1px;
		    		}

		    		.icon
		    		{
		    			width: 60px;
		    			height: 60px;
		    			margin-left: 10px;
		    			text-align: center;
    					line-height: 60px;
		    			@include border-radius(7px);
		    			transform: scale(0.95);
		    			@include transition(background $animaTimeSlow, transform $animaTimeDef);
		    		}
		    	}
		    }
		    
		    .menu_circle
		    {
		    	@include transition(transform $animaTimeVerySlow);
		    	transition-timing-function: ease-in-out;
		    	transform: rotate(0deg);
		    	color: red;
		    	right: -657px;
			    position: absolute;
			    top: -150px;
			    opacity: 0.3;
		    }
		}
	}

	section
	{
		display: none;
		h1
		{
			@extend .headline_font;
			text-transform: uppercase;
			margin-bottom: 75px;
		}

		a.link
		{
			width: 310px;
			height: 80px;
			line-height: 80px;
		}
			
		&#place
		{
			display: block;
			margin-top: 124px;

			
		}

		&#donation
		{
			margin-top: 124px;
			
		}

		&#partners
		{
			margin-top: 124px;
		}

		&#tranfer
		{
			margin-top: 124px;
		}

		&#contact
		{
			margin-top: 124px;

			h1
			{
				@extend .subtitle_font;
			}
			
			form
			{
				.textarea
				{
					
				}
			}
		}
	}

	footer
	{
		position: absolute;
		bottom: 0px;
		right: $rightMargin;
		p
		{
			color: $DarkYellow;
			@include transition(color $animaTimeDef);
			@extend .bottomline_font;
			text-transform: uppercase;
		}
	}

	&.pink
	{
		background: $Pink;

		header
		{
			nav
			{
				ul
				{
					li
					{
						color: $DarkPink;
						&:hover, &.active
						{
							.icon
							{
								background: $Yellow;
							}
						}
					}
				}
			}
		}
		

		.anchor, .link, mark
		{
			background: $Yellow;
		}

		footer
		{
			p
			{
				color: $DarkPink;
			}
		}
	}
}

/* MOBILE */
@media only screen and (max-width: 768px)
{

}

/* DESKTOP */
@media only screen and (min-width: 768px)
{
	
}